<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
  </head>
  <body>
       <h1><%= title %></h1>
        
          <ng-view></ng-view>
          
  <!-- Template -->
    <script type="text/ng-template" id="/Projects.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="Project in Projects | filter: search">
          <input type="checkbox" ng-model="Project.completed" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{Project._id}}">{{Project.name}}</a>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

          <input ng-show="editing[$index]" type="text" ng-model="Project.name">
          <button ng-show="editing[$index]" ng-click="update($index)">update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
        </li>
      </ul>
      New task <input type="text" ng-model="newProject"><button ng-click="save()">Create</button>
    </script>

    <script type="text/ng-template" id="/ProjectDetails.html">
      <h1>{{ Project.name }}</h1>
      completed: <input type="checkbox" ng-model="Project.completed"><br>
      note: <textarea ng-model="Project.note"></textarea><br><br>

      <button ng-click="update()">update</button>
      <button ng-click="remove()">remove</button>
      <a href="/">Cancel</a>
    </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Projects', ['$resource', function($resource){
          return $resource('/Projects/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('ProjectController', ['$scope', 'Projects', function ($scope, Projects) {
          $scope.editing = [];
          $scope.Projects = Projects.query();

          $scope.save = function(){
            if(!$scope.newProject || $scope.newProject.length < 1) return;
            var Project = new Projects({ name: $scope.newProject, completed: false });

            Project.$save(function(){
              $scope.Projects.push(Project);
              $scope.newProject = ''; // clear textbox
            });
          }

          $scope.update = function(index){
            var Project = $scope.Projects[index];
            Projects.update({id: Project._id}, Project);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.Projects[index]);
          }

          $scope.cancel = function(index){
            $scope.Projects[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }

          $scope.remove = function(index){
            var Project = $scope.Projects[index];
            Projects.remove({id: Project._id}, function(){
              $scope.Projects.splice(index, 1);
            });
          }
        }])

        .controller('ProjectDetailCtrl', ['$scope', '$routeParams', 'Projects', '$location', function ($scope, $routeParams, Projects, $location) {
          $scope.Project = Projects.get({id: $routeParams.id });

          $scope.update = function(){
            Projects.update({id: $scope.Project._id}, $scope.Project, function(){
              $location.url('/');
            });
          }

          $scope.remove = function(){
            Projects.remove({id: $scope.Project._id}, function(){
              $location.url('/');
            });
          }
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/Projects.html',
              controller: 'ProjectController'
            })

            .when('/:id', {
              templateUrl: '/ProjectDetails.html',
              controller: 'ProjectDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>